Repository e-ogugua/poshpoule-erp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update .gitignore to properly ignore all .env files
  .gitignore
Due: none

chore: remove deprecated swcMinify option from next.config.js
  next.config.js
Due: eslint --fix, prettier --write

fix: update BlogPostPageProps type for Next.js 13+ compatibility
  src/app/blog/[slug]/page.tsx
Due: eslint --fix, prettier --write

fix: simplify page props type in blog post page
  src/app/blog/[slug]/page.tsx
Due: eslint --fix, prettier --write

fix: update page component type for Next.js 13+ compatibility
  src/app/blog/[slug]/page.tsx
Due: eslint --fix, prettier --write

refactor: simplify blog post page component
  src/app/blog/[slug]/page.tsx
Due: eslint --fix, prettier --write

fix: update blog post page with proper types and error handling
  src/app/blog/[slug]/page.tsx
Due: eslint --fix, prettier --write

fix: resolve hydration errors in blog post content
  src/app/blog/[slug]/BlogPostContent.tsx
Due: eslint --fix, prettier --write

chore: update config and clean up files
  .gitignore
  next.config.js
  src/app/blog/[slug]/page.tsx
Due: eslint --fix, prettier --write

chore: sync pnpm lockfile and deps for vercel
  package-lock.json
Due: prettier --write

feat: optimize blog loading and fix image configuration
  next.config.js
  src/app/blog/[slug]/loading.tsx
  src/app/blog/[slug]/page.tsx
  src/components/ui/skeleton.tsx
  src/lib/prisma.ts
Due: eslint --fix, prettier --write

chore: update database configuration and clean up repository
  .gitignore
  db/data.json
  db/data.json.backup
  package.json
  pnpm-lock.yaml
  prisma/migrations/20250929190237_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  vercel-build.sh
  vercel.json
Due: prettier --write

fix: update image quality settings and fix product fetching
  next.config.js
  src/app/api/products/route.ts
  src/app/blog/[slug]/BlogPostContent.tsx
  src/app/blog/[slug]/page.tsx
  src/lib/actions/product.actions.ts
  src/lib/database.ts
Due: eslint --fix, prettier --write

refactor: Update blog and product pages with improved component structure and fix hydration issues
  .env.example
  db/data.json
  db/data.json.backup
  src/app/api/blog/[slug]/route.ts
  src/app/blog/[slug]/BlogPostClient.tsx
  src/app/blog/[slug]/BlogPostContent.tsx
  src/app/blog/[slug]/blog-post-page.tsx
  src/app/blog/[slug]/generate.ts
  src/app/blog/[slug]/page.old.tsx
  src/app/blog/[slug]/page.server.ts
  src/app/blog/[slug]/page.static.ts
  src/app/page.tsx
  src/app/preorder/PreorderClient.tsx
  src/app/preorder/PreorderPage.tsx
  src/app/preorder/page.tsx
  src/app/products/ProductsList.tsx
  src/app/products/ProductsPageClient.tsx
  src/app/products/[slug]/ProductPageClient.tsx
  src/app/products/[slug]/loading.tsx
  src/app/products/[slug]/page.tsx
  src/app/products/[slug]/page.tsx.minimal
  src/app/products/[slug]/page.tsx.new
  src/app/products/page.tsx
  src/app/products/page.tsx.minimal
  src/components/FeaturedProducts.tsx
  src/components/PriceDisplay.tsx
  src/components/ProductCard.tsx
  src/components/ProductClient.tsx
  src/components/ProductPriceDisplay.tsx
  src/lib/db-utils.ts
  src/types/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: update Next.js configuration and fix TypeScript types
  next.config.js
  next.config.mjs
  next.config.prod.js
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/app/products/[slug]/page.tsx
  src/app/products/page.tsx
  src/lib/prisma.ts
Due: eslint --fix, prettier --write

Fix Next.js 15 compatibility: Update ProductPageProps, fix hydration errors in BlogPostContent, and resolve Prisma logging issues
  db/data.json
  db/data.json.backup
  public/robots.txt
  src/app/blog/[slug]/BlogPostContent.tsx
  src/app/products/[slug]/page.tsx
  src/app/products/page.tsx
  src/components/ProductClient.tsx
  src/lib/prisma.ts
Due: eslint --fix, prettier --write

Update vercel-build.sh: Improve error handling, use pnpm, and fix environment variable checks
  vercel-build.sh
Due: none

Fix Vercel build script for Next.js 15 and pnpm: Optimize vercel-build.sh, add packageManager, fix BlogPostContent interface
  package.json
  src/app/blog/[slug]/BlogPostContent.tsx
  vercel-build.sh
Due: eslint --fix, prettier --write

Make build script executable
  vercel-build.sh
Due: none

Fix Vercel build script: Remove pnpm approve-builds and renumber steps
  vercel-build.sh
Due: none

Update testimonials: Change Abdul and Michael C. images to Testimonial5 and Testimonial3
  db/data.json
Due: prettier --write

Update testimonials images, fix About page duplication, and optimize build script
  db/data.json
  src/app/about/page.tsx
  vercel-build.sh
Due: eslint --fix, prettier --write

Add seed script for database and optimize images for faster loading
  image-optimization-report.json
  package.json
  prisma/seed.ts
Due: eslint --fix, prettier --write

Update pnpm-lock.yaml for tsx dependency
  pnpm-lock.yaml
Due: none

Apply comprehensive fixes: env vars, Prisma, Next.js components, scripts, and build optimization
  .env.example
  package.json.bak
  pnpm-lock.yaml
  src/auth.ts
  vercel-build.sh
Due: eslint --fix, prettier --write

Fix API to use Prisma instead of JSON for products
  src/app/api/products/route.ts
Due: eslint --fix, prettier --write

Ensure pnpm-lock.yaml is committed
  pnpm-lock.yaml
Due: none

Fix Vercel build to use npm instead of pnpm for compatibility
  vercel-build.sh
Due: none

Add package-lock.json for npm ci in Vercel build
  package-lock.json
Due: prettier --write

Move @types/react-syntax-highlighter to dependencies to fix Vercel build
  package-lock.json
  package.json
Due: prettier --write

Trigger Vercel redeploy
  README.md
Due: prettier --write

✅ Final bugfixes, product consistency, ENV cleanup, local build OK
  .env.example
  package.json
  pnpm-lock.yaml
  prisma/schema.prisma
  prisma/seed-products.ts
  src/app/admin/products/page.tsx
  src/app/api/admin/products/route.ts
  src/app/api/blog/subscribe/route.ts
  src/app/api/leads/route.ts
  src/app/api/products/route.ts
  src/app/api/test-email/route.ts
  src/app/blog/[slug]/BlogPostContent.tsx
  src/app/blog/[slug]/page.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/preorder/page-content.tsx.backup
  src/app/products/[slug]/loading.tsx
  src/app/products/[slug]/page.tsx
  src/app/products/page.tsx
  src/components/FormComponents.tsx
  src/components/FormSkeleton.tsx
  src/components/LayoutClient.tsx
  src/components/LoadingSkeleton.tsx
  src/components/ProductCard.tsx
  src/components/ProductsGrid.tsx
  src/hooks/useForm.ts
  src/lib/email.ts
  src/lib/env-validation.ts
  src/lib/headers.ts
  src/lib/validation.ts
  src/providers/CurrencyProviderWrapper.tsx
Due: eslint --fix, prettier --write

🔧 Fix Vercel build script to use pnpm instead of npm
  vercel-build.sh
Due: none

✅ Enable build scripts and remove unused sqlite3 dependency
  .pnpmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

🔧 Fix Product type interfaces and basePriceNaira field consistency
  src/app/page.tsx
  src/components/FeaturedProducts.tsx
  src/components/ProductsGrid.tsx
  src/types/product.ts
Due: eslint --fix, prettier --write

✅ Fix phone number input formatting and products display issues
  src/app/preorder/page-content.tsx
  src/components/FormComponents.tsx
  src/lib/validation.ts
Due: eslint --fix, prettier --write

🔧 Fix Vercel CSS compilation issues - add Node.js version, simplify PostCSS config, remove @layer syntax
  postcss.config.js
  src/app/globals.css
  vercel.json
Due: eslint --fix, prettier --write

🔧 Fix Vercel schema validation - move Node.js version to package.json engines field
  package.json
  vercel.json
Due: prettier --write

🔧 Fix Vercel CSS compilation by using Next.js font optimization instead of external imports
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,html,css,scss})
