Repository e-ogugua/poshpoule-erp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,mdx,html,css,scss}": [
    "prettier --write"
  ]
}

feat: update team structure and descriptions
  db/data.json
Due: prettier --write

feat: update team member name to Joshua O. Ogugua
  db/data.json
Due: prettier --write

chore: cleanup unnecessary files and dependencies
  git-save.sh
  image-optimization-report.json
  image_cleanup_report.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: format Prisma schema with consistent spacing and alignment
  prisma/schema.prisma
Due: none

refine: update order API routes for new schema compatibility
  src/app/api/orders/[id]/route.ts
  src/app/api/orders/route.ts
Due: eslint --fix, prettier --write

Fix: Add database seeding to production build process
  prisma/seed.ts
  vercel-build.sh
Due: eslint --fix, prettier --write

feat: Add instant currency switching and social sharing functionality
  .env.example
  src/components/BlogPostCard.tsx
  src/components/CurrencySwitcher.tsx
  src/components/ProductCard.tsx
  src/components/SocialShare.tsx
  src/contexts/CurrencyContext.tsx
Due: eslint --fix, prettier --write

chore(ci): add PR CI, CodeQL and Dependabot
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

chore(docs): polish and standardize repository documentation
  README.md
Due: prettier --write

Standardize CI and docs (#18)
  .github/CODEOWNERS
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  README.md
Due: prettier --write

test(e2e): add Playwright smoke and script
  package.json
  tests/e2e/smoke.spec.ts
Due: eslint --fix, prettier --write

docs(readme): add Screenshots, Roadmap, Links; chore(security): add SECURITY.md; chore: add capture:hero script
  README.md
  package.json
  scripts/capture-hero.mjs
Due: prettier --write

docs(readme): add hero screenshot
  public/screenshot-hero.png
Due: none

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none
