Repository e-ogugua/poshpoule-erp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,mdx,html,css,scss}": [
    "prettier --write"
  ]
}

🔧 Update pnpm lockfile to resolve Vercel dependency conflicts
  pnpm-lock.yaml
Due: none

🔧 Fix PostCSS configuration - use string format for plugins instead of require()
  postcss.config.js
Due: eslint --fix, prettier --write

🔧 Fix Playfair Display font weights - remove unavailable weight 300
  src/app/layout.tsx
Due: eslint --fix, prettier --write

🔧 Fix TypeScript error - add proper children prop type and React import
  src/app/layout.tsx
Due: eslint --fix, prettier --write

🔧 Fix product images - update seed file to use existing image paths
  prisma/seed-products.ts
Due: eslint --fix, prettier --write

🔧 Fix product detail pages - update database schema and seed file with correct field names and optimized image paths
  prisma/schema.prisma
  prisma/seed-products.ts
Due: eslint --fix, prettier --write

🔧 Fix build errors and simplify phone input - remove automatic formatting that hinders preorder
  prisma/seed-products.ts
  src/app/preorder/page-content.tsx
  src/components/FormComponents.tsx
Due: eslint --fix, prettier --write

🔧 Fix FormComponents.tsx syntax error - rewrite file with proper TypeScript syntax
  src/components/FormComponents.tsx.backup
Due: none

🔧 Fix Prisma seed.ts - use correct field names and regenerate Prisma client
  prisma/seed.ts
Due: eslint --fix, prettier --write

🔧 Fix Prisma field name issues - regenerate client and use correct featured field name
  prisma/seed.ts
Due: eslint --fix, prettier --write

🔧 Fix API route field names - use priceNaira and featured instead of price and isFeatured
  src/app/api/admin/products/route.ts
Due: eslint --fix, prettier --write

🔧 Fix public products API route - use correct field names priceNaira and featured
  src/app/api/products/route.ts
Due: eslint --fix, prettier --write

🔧 Fix remaining field name issues in admin products page and product detail page
  src/app/admin/products/page.tsx
  src/app/products/[slug]/page.tsx
Due: eslint --fix, prettier --write

🔧 Fix Product interface imports and TypeScript issues in admin and product detail pages
  src/app/admin/products/page.tsx
  src/app/products/[slug]/page.tsx
Due: eslint --fix, prettier --write

🔧 Fix final field name issue in product detail page - use featured instead of isFeatured
  src/app/products/[slug]/page.tsx
Due: eslint --fix, prettier --write

🔧 Fix email configuration issues and update product prices
  db/data.json
  src/lib/email.ts
Due: eslint --fix, prettier --write

🔧 Fix blog subscription API import error - correct function name
  src/app/api/blog/subscribe/route.ts
Due: eslint --fix, prettier --write

🔧 Improve form validation to handle currency context and data types
  src/app/products/[slug]/page.tsx
  src/lib/validation.ts
Due: eslint --fix, prettier --write

🚀 Complete Vercel deployment fixes
  db/data.json
  debug-form.js
  prisma/schema.prisma
  src/app/api/orders/[id]/route.ts
  src/app/api/orders/route.ts
  src/lib/email.ts
  test-order-submission.js
Due: eslint --fix, prettier --write

🔧 Fix product detail page server component errors
  fix-product-pages.js
  setup-database.js
  test-product-page.js
Due: eslint --fix, prettier --write

🔧 Fix Prisma schema validation error
  prisma/schema.prisma
Due: none

🔧 Fix admin customers API - remove orders relation that no longer exists
  src/app/api/admin/customers/route.ts
Due: eslint --fix, prettier --write

🔧 Fix Next.js Server Component onClick errors
  src/app/products/[slug]/page.tsx
  src/components/ProductCard.tsx
  test-product-page.js
Due: eslint --fix, prettier --write

🎨 Optimize product images for better visual appeal
  db/data.json
  public/images/products/FoodStallExportLinkTasteBox.png
  public/images/products/PremiumMentorshipProgram.png
  public/images/products/WorkshopTraining3Months.jpeg
Due: prettier --write

🔧 Fix NoilerChickensFreeRangers image path
  db/data.json
Due: prettier --write

🔧 Fix Next.js caching issue for product images
  src/app/products/page.tsx
Due: eslint --fix, prettier --write

🍎 Update Organic Fruits Pack to use FruitsCrops.jpg image
  db/data.json
Due: prettier --write

🚀 Complete blog subscription system with database storage
  prisma/seed-admin.ts
  src/app/api/blog/subscribe/route.ts
  src/app/api/blog/subscribers/[id]/confirm/route.ts
  src/app/api/blog/subscribers/[id]/unsubscribe/route.ts
  src/app/api/blog/subscribers/route.ts
  src/app/contact/new-contact-page.tsx
  src/lib/database.ts
  src/lib/email.ts.bak
Due: eslint --fix, prettier --write

🔧 Fix syntax error in email.ts
  src/lib/email.ts
  src/lib/email.ts.bak
Due: eslint --fix, prettier --write

🔧 Fix email.ts syntax error completely
  src/lib/email.ts
  src/lib/email.ts.bak
Due: eslint --fix, prettier --write

🔧 Fix Next.js 13+ route handler types
  src/app/api/blog/subscribers/[id]/confirm/route.ts
  src/app/api/blog/subscribers/[id]/unsubscribe/route.ts
Due: eslint --fix, prettier --write

🔧 Fix nodemailer method name typo
  src/lib/email.ts
  src/lib/email.ts.bak
Due: eslint --fix, prettier --write

📚 Update all documentation with real PoshPOULE Farms data
  .env.example
  DEPLOYMENT.md
  MAINTAINERS.md
  package.json
Due: prettier --write

Refactor responsive layouts and accessibility
  src/app/admin/page.tsx
  src/app/admin/products/page.tsx
  src/app/gallery/page.tsx
  src/app/globals.css
  src/app/products/page.tsx
  src/components/Header.tsx
  src/components/ProductCard.tsx
  src/components/ProductsGrid.tsx
  src/components/admin/Sidebar.tsx
  src/hooks/useReducedMotion.ts
Due: eslint --fix, prettier --write

docs: rewrite documentation for engineering audience
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
Due: prettier --write

feat: implement WCAG 2.1 AA compliance and accessibility improvements
  CHANGELOG_v4.md
  src/app/admin/products/page.tsx
  src/app/contact/new-page.tsx
  src/app/contact/page.tsx
Due: eslint --fix, prettier --write

feat: update team images and optimize for about page
  db/data.json
  image-optimization-report.json
  public/images/shortAboutSideimage1.png
  public/optimized-images/products/FoodStallExportLinkTasteBox-320w.webp
  public/optimized-images/products/FoodStallExportLinkTasteBox-640w.webp
  public/optimized-images/products/FoodStallExportLinkTasteBox.webp
  public/optimized-images/products/PremiumMentorshipProgram-320w.webp
  public/optimized-images/products/PremiumMentorshipProgram-640w.webp
  public/optimized-images/products/PremiumMentorshipProgram.webp
  public/optimized-images/products/WorkshopTraining3Months-1024w.webp
  public/optimized-images/products/WorkshopTraining3Months-320w.webp
  public/optimized-images/products/WorkshopTraining3Months-640w.webp
  public/optimized-images/products/WorkshopTraining3Months.webp
  public/optimized-images/shortAboutSideimage1-320w.webp
  public/optimized-images/shortAboutSideimage1-640w.webp
  public/optimized-images/shortAboutSideimage1.webp
  src/app/about/page.tsx
  src/lib/database-server.ts
Due: eslint --fix, prettier --write

fix: correct team member image paths for optimized versions
  db/data.json
  image-optimization-report.json
Due: prettier --write
